<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LMS by NAYA Kursus</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <form>
      <div>
        <label for="">
          Your name is 
          {{ if .name }}
            <a href="/">{{ .name }}</a>
          {{ else }}
            <input type="" name="name" value="">
          {{ end }}
        </label>
      </div>
    </form>
  </body>
</html>
